# This file can be used to create an environment using:
# $ conda create --name <env> --file <this file>

torch==2.1.2
transformers==4.36.2
datasets==2.16.1
accelerate==0.26.1
bitsandbytes==0.42.0
os
numpy
pandas
tqdm
peft
trl
sklearn
re
emoji
random
nltk